[graph]
all-features = true

[advisories]
ignore = [
    # instant 0.1.13
    # Advisory: https://rustsec.org/advisories/RUSTSEC-2024-0384
    "RUSTSEC-2024-0384",

    # backoff 0.4.0
    # Advisory: https://rustsec.org/advisories/RUSTSEC-2025-0012
    "RUSTSEC-2025-0012",

    # bincode 1.3.3
    # Advisory: https://rustsec.org/advisories/RUSTSEC-2025-0141
    "RUSTSEC-2025-0141",
]
