---
name: Napi test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'yellowstone-grpc-client-nodejs/napi/**'
      - '.github/workflows/test-napi.yml'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-22.04]
    runs-on: ["${{ matrix.os }}"]
    steps:
      - name: baseline
        run: |
          free -h
          df -h

      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 4096
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set rust version
        run: |
          RUST_VERSION="$(grep -oP 'channel = "\K\d\.\d+\.\d+(?=")' rust-toolchain.toml)"
          echo "RUST_STABLE=$RUST_VERSION" | tee -a $GITHUB_ENV

      - name: Set env vars
        run: |
          source ci/env.sh
          echo "GEYSER_PLUGIN_NAME=$plugin_name" | tee -a $GITHUB_ENV
          echo "GEYSER_PLUGIN_LIB=lib${plugin_lib_name}" | tee -a $GITHUB_ENV

      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          docker system prune --all --force

      - name: pre rust
        run: |
          free -h
          df -h

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rustfmt

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
          toolchain: ${{ env.RUST_STABLE }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsasl2-dev protobuf-compiler

      - name: post isntall
        run: |
          free -h
          df -h

      - name: cargo tree napi
        run: |
          cd yellowstone-grpc-client-nodejs/napi
          cargo tree
          git diff Cargo.lock
          git checkout Cargo.lock
          cargo tree --frozen

      - name: cargo fmt napi
        run: |
          cd yellowstone-grpc-client-nodejs/napi
          cargo +nightly fmt --all -- --check

      - name: cargo clippy napi
        run: make solana-encoding-napi-clippy
